.cta {
  --shadow-input: 0 3px 4px hsl(0deg 0% 0% / 20%);
  background: url("../../images/cta-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-block: 50px;
  &-container {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
  }
  &-wrapper {
    width: 100%;
  }
  &-title {
    text-align: left;
    color: var(--eerie-black);
    font-size: var(--fs-3);
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 5px;
    font-weight: var(--fw-700);
  }
  &-text {
    color: var(--eerie-black);
    font-size: var(--fs-9);
    font-weight: var(--fw-500);
    line-height: 1.8;
    text-align: left;
  }
  &-form {
    width: 100%;
    max-width: unset;
    position: relative;
  }
  & .email-field {
    color: var(--eerie-black);
    font-size: var(--fs-9);
    padding: 18px 32px;
    border-radius: 4px;
    box-shadow: var(--shadow-input);
  }
  &-form-btn {
    position: absolute;
    right: 2px;
    top: 2px;
    bottom: 11px;
    background: var(--eerie-black);
    color: var(--citrine);
    font-size: var(--fs-9);
    font-weight: var(--fw-700);
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid var(--eerie-black);
    padding: 15px 34px;
    border-radius: 4px;
    margin-inline: auto;
    cursor: pointer;
    transition: var(--transition-1);
    &:hover {
      background: var(--citrine);
      color: var(--eerie-black);
    }
  }
}
