.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 15px;
  // margin: 0 auto;
}

.h1,
.h2,
.h3 {
  color: var(--white);
  line-height: 1.2;
}

.h1 {
  font-size: var(--fs-1);
}

.h2 {
  font-size: var(--fs-2);
}

.h3 {
  font-size: var(--fs-6);
}

.btn {
  color: var(--white);
  font-size: var(--fs-11);
  font-weight: var(--fw-700);
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px 30px;
  border: 2px solid var(--citrine);
  border-radius: 50px;
  transition: var(--transition-1);
  cursor: pointer;
}

.btn-primary {
  background: var(--rich-black-fogra-29);
}

.btn-primary:is(:hover, :focus) {
  background: var(--citrine);
  color: var(--xiketic);
}
// Upcoming
.has-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.has-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: 0 0 0 2px var(--citrine);
  border-radius: 10px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: var(--gainsboro);
  border-radius: 10px;
  box-shadow: inset 0 1px 0 var(--black), inset 0 -1px 0 var(--black);
}

.badge {
  color: var(--white);
  font-size: var(--fs-12);
  font-weight: var(--fw-700);
  border: 1px solid transparent;
  padding: 2px 10px;
}

.badge-fill {
  background-color: var(--white);
  color: var(--raisin-black);
}
.badge-outline {
  border-color: 1px solid var(--white);
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--citrine);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

.section-subtitle {
  color: var(--citrine);
  font-size: var(--fs-11);
  font-weight: var(--fw-500);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

// MOVIE ITEM
.movie-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.movie-list > li {
  min-width: calc(25% - 22.5px);
}
.movie-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.movie-card .card-banner {
  position: relative;
  background: var(--gunmetal-1);
  aspect-ratio: 2 / 3;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 20px;
  transition: var(--transition-1);
}
.card-banner:hover {
  box-shadow: var(--box-shadow);
}
.card-banner::after {
  content: "";
  position: absolute;
  inset: 0;
  transition: var(--transition-1);
}
.card-banner:hover::after {
  background: hsla(0, 0%, 100%, 0.05);
}
.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.card-title {
  color: var(--white);
  font-size: var(--fs-10);
  transition: var(--transition-1);
}
.title-wrapper time {
  color: var(--citrine);
  font-size: var(--fs-9);
  font-weight: var(--fw-500);
}

.card-meta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}
.movie-card .badge {
  color: var(--citrine);
  border: 1px solid var(--white);
}
.duration,
.rating {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--gainsboro);
  font-size: var(--fs-11);
  font-weight: var(--fw-500);
}
.duration {
  margin-left: auto;
}
.duration ion-icon,
.rating ion-icon {
  font-size: 13px;
  --ionicon-stroke-width: 50px;
  color: var(--citrine);
}
