.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 25px;
  transition: var(--transition-2);
  z-index: 4;
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-actions {
    display: flex;
    align-items: center;
    gap: 35px;
    .btn-primary {
      padding: 10px 22px;
    }
  }
  .search-action-btn {
    font-size: 1.3rem;
    position: relative;
    color: var(--white);
    display: flex;
    align-items: center;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      top: 4px;
      right: -20px;
      background: hsla(0, 0%, 100%, 0.1);
      width: 2px;
      height: 14px;
    }
  }
  .search-wrapper.active .search-icon,
  .search-wrapper .close-icon {
    display: none;
  }
  .search-wrapper .search-icon,
  .search-wrapper.active .close-icon {
    display: block;
  }
  .input-wrapper {
    position: absolute;
    top: 105%;
    right: 25%;
    background-color: white;
    padding: 8px 8px;
    border-radius: 3px;
    font-size: 1rem;
    visibility: hidden;
    opacity: 0;
    box-shadow: var(--shadow-search-btn);
    transition: 0.35s cubic-bezier(0.33, 0.85, 0.4, 0.96);
  }
  .search-wrapper.active .input-wrapper {
    visibility: visible;
    opacity: 1;
  }
  // .input-wrapper .search,
  // .input-wrapper.active .close-btn {
  //   display: block;
  // }

  .input-wrapper.active .lang-wrapper {
    position: relative;
    bottom: -3px;
  }
  .lang-wrapper {
    position: relative;
    bottom: -3px;
  }
  .lang-wrapper label {
    // display: flex;
    // align-items: center;
    // gap: 5px;
    color: var(--citrine);
    font-size: 20px;
  }
  .lang-wrapper select {
    color: var(--white);
    font-size: var(--fs-9);
    font-weight: var(--fw-700);
    background: transparent;
    border: none;
    position: relative;
    top: -5px;
    left: 10px;
  }
  .lang-wrapper select option {
    color: var(--black);
  }
}
// Responsive
// Tablet
@media (max-width: 1024px) {
  .header {
    &-actions {
      display: flex;
      align-items: center;
      gap: 35px;
      margin-left: auto;
      .btn-primary {
        padding: 10px 22px;
        display: none;
      }
    }
  }
}

// Phone

@media (max-width: 767px) {
  .header {
    &-actions {
      display: none;
    }
  }
}
