.hero {
  background-image: url("../../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  & .container {
    width: 1160px;
  }
  &-flute {
    margin-right: auto;
  }
  &-content {
    max-width: 600px;
    margin-top: 100px;
    // position: relative;
    // left: -42%;
  }
  &-subtitle {
    color: var(--citrine);
    font-size: var(--fs-4);
    font-weight: var(--fw-700);
    margin-bottom: 10px;
  }
  &-title {
    margin-bottom: 30px;
    font-size: 3.6rem;
  }
  &-title strong {
    color: var(--citrine);
  }
  .meta-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}
.container {
  // width: 1120px;
  // padding-inline: 15px;
  // margin-inline: auto;
}

@media (max-width: 1024px) {
}

@media (max-width: 767px) {
  .hero {
    &-title {
      font-size: 2.3rem;
    }
  }
}
