.hero {
  background-image: url("../../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  &-content {
    max-width: 600px;
    margin-top: 100px;
  }
  &-subtitle {
    color: var(--citrine);
    font-size: var(--fs-4);
    font-weight: var(--fw-700);
    margin-bottom: 10px;
  }
  &-title {
    margin-bottom: 30px;
    font-size: 3.6rem;
  }
  &-title strong {
    color: var(--citrine);
  }
  .meta-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .badge-wrapper,
  .ganre-wrapper,
  .date-time {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px 10px;
  }
  .badge {
    color: var(--white);
    font-size: var(--fs-12);
    font-weight: var(--fw-700);
    border: 1px solid transparent;
    padding: 2px 10px;
  }
  .badge-fill {
    background-color: var(--white);
    color: var(--raisin-black);
  }
  .badge-outline {
    border-color: 1px solid var(--white);
  }
  .ganre-wrapper > a {
    color: var(--gainsboro);
    font-size: var(--fs-9);
    font-weight: var(--fw-500);
    transition: var(--transition-1);
  }
  .date-time {
    gap: 15px;
  }
  .date-time > div {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--gainsboro);
    font-size: var(--fs-9);
    font-weight: var(--fw-500);
  }
  .date-time ion-icon {
    --ionicon-stroke-width: 50px;
    color: var(--citrine);
  }
}
.container {
  // width: 1120px;
  // padding-inline: 15px;
  // margin-inline: auto;
}
