.menu {
  display: flex;
  align-items: center;
  gap: 10px;
  &-link {
    font-size: var(--fs-9);
    font-weight: var(--fw-700);
    text-transform: uppercase;
    padding: 30px 15px;
    color: var(--white);
    transition: var(--transition-1);
    &:hover {
      color: var(--citrine);
    }
  }
  &-open-btn {
    margin-left: 29px;
    font-size: 3rem;
    color: white;
    display: flex;
    display: none;
  }
}

@media (max-width: 1024px) {
  .menu {
    display: none;
    &-open-btn {
      display: block;
      display: flex;
    }
  }
}
