.menu {
  display: flex;
  align-items: center;
  gap: 10px;
  &-top {
    display: none;
  }
  &-social-list {
    display: none;
  }
  &-list {
    display: block;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &-link {
    font-size: var(--fs-9);
    font-weight: var(--fw-700);
    text-transform: uppercase;
    padding: 30px 15px;
    color: var(--white);
    transition: var(--transition-1);
    &:hover {
      color: var(--citrine);
    }
  }
  &-open-btn {
    margin-left: 29px;
    font-size: 3rem;
    color: white;
    display: flex;
    display: none;
  }
}

@media (max-width: 1024px) {
  .menu {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    right: -300px;
    background: var(--eerie-black);
    width: 100%;
    max-width: 300px;
    height: 100%;
    box-shadow: var(--shadow-menu);
    z-index: 3;
    visibility: hidden;
    transition: 0.25s ease-in-out;
    // display: none;
    &-open-btn {
      display: block;
      display: flex;
    }
    &-top {
      display: block;
      padding: 30px 25px;
      display: flex;
      justify-content: space-between;
      padding: 30px 25px;
    }
    &-close-btn {
      color: var(--white);
      font-size: var(--fs-2);
      padding: 5px;
    }
    &-list {
      // flex-direction: column;
      // align-items: flex-start;
      border-top: 1px solid hsla(0, 0%, 100%, 0.1);
      margin-bottom: 30px;
      display: block;
    }
    &-link {
      padding: 10px 25px;
      border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
      display: block;
    }
    &-social-list {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      // display: block;
    }
    &-social-link {
      font-size: var(--fs-6);
      color: var(--white);
      transition: var(--transition-1);
    }
    &.active {
      right: 0;
      visibility: visible;
      transition: 0.25s ease-out;
    }
  }
}
