*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  background: var(--eerie-black);
}

html {
  font-family: var(--ff-poppins);
  scroll-behavior: smooth;
}

body.active {
  overflow: hidden;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  background-color: transparent;
  border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  font: inherit;
  width: 100%;
  border: none;
}

/**
 * TITLES & SUBTITLES
 */
