.service {
  background: url("../../images/service-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  padding-block: var(--section-padding);
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
  }
  &-banner {
    position: relative;
  }
  &-content {
    max-width: calc(100% - 700px);
  }
  &-btn {
    position: absolute;
    bottom: 0;
    right: -30px;
    background: var(--citrine);
    color: var(--rich-black-fogra-29);
    font-size: var(--fs-11);
    text-transform: uppercase;
    font-weight: var(--fw-500);
    letter-spacing: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    transform: rotate(0.25turn);
    transform-origin: bottom right;
    padding: 28px 35px;
    border-radius: 6px;
    & ion-icon {
      font-size: 30px;
      transform: rotate(-0.25turn);
    }
  }
  &-subtitle {
    position: relative;
    color: var(--gainsboro);
    font-size: var(--fs-11);
    font-weight: var(--fw-500);
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 50px;
    margin-bottom: 10px;
    &::after {
      content: "";
      position: absolute;
      top: 7px;
      left: 0;
      width: 40px;
      height: 3px;
      background: var(--citrine);
    }
  }
  &-title {
    color: var(--white);
    margin-bottom: 20px;
    line-height: 1.2;
    max-width: 280px;
  }
  &-text,
  .card-text {
    color: var(--gray-x);
    font-size: var(--fs-9);
    font-weight: var(--fw-500);
    line-height: 1.8;
    max-width: 570px;
    margin-bottom: 40px;
  }
  &-card {
    display: flex;
    gap: 20px;
    & .card-icon {
      color: var(--white);
      width: 25%;
      height: 80px;
      display: grid;
      place-items: center;
      font-size: 40px;
      border-radius: 50%;
      outline: 1px dashed var(--citrine);
      outline-offset: 5px;
      margin: 5px;
    }
    & .card-title {
      margin-bottom: 10px;
    }
  }
  &-list {
    max-width: 480px;
    & > li:first-child {
      padding-bottom: 30px;
      border-bottom: 1px dashed hsla(0, 0%, 100%, 0.1);
      margin-bottom: 30px;
    }
  }
}

// responsive
@media (max-width: 1024px) {
  .service {
    &-container {
      flex-direction: column;
    }
    &-content {
      max-width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .service {
    &-btn {
      right: 24%;
    }
    &-card {
      flex-direction: column;
      & .card-icon {
        width: 23%;
      }
    }
    & .card-text {
      margin-bottom: 0;
    }
  }
}
