.tv-series {
  background: url("../../images/tv-series-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  padding-block: var(--section-padding);
}

.tv-series .section-title {
  margin-bottom: 50px;
}

.tv-series .section-subtitle {
  text-align: center;
}
