.upcoming {
  background: url("../../images/upcoming-bg.png") no-repeat;
  background-size: cover;
  background-position: center;
  padding-block: var(--section-padding);
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  &-title {
  }
  &-subtitle {
    color: var(--citrine);
    font-size: var(--fs-11);
    font-weight: var(--fw-500);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  &-btn {
    color: var(--white);
    background: var(--raisin-black);
    font-size: var(--fs-11);
    font-weight: var(--fw-500);
    border: 2px solid var(--gunmetal-1);
    padding: 12px 26px;
    border-radius: 50px;
  }
  .movie-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  .movie-list > li {
    min-width: calc(25% - 22.5px);
  }
  .movie-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .movie-card .card-banner {
    position: relative;
    background: var(--gunmetal-1);
    aspect-ratio: 2 / 3;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 20px;
    transition: var(--transition-1);
  }
  .card-banner:hover {
    box-shadow: var(--box-shadow);
  }
  .card-banner::after {
    content: "";
    position: absolute;
    inset: 0;
    transition: var(--transition-1);
  }
  .card-banner:hover::after {
    background: hsla(0, 0%, 100%, 0.05);
  }
  .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .card-title {
    color: var(--white);
    font-size: var(--fs-10);
    transition: var(--transition-1);
  }
  .title-wrapper time {
    color: var(--citrine);
    font-size: var(--fs-9);
    font-weight: var(--fw-500);
  }

  .card-meta {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
  }
  .movie-card .badge {
    color: var(--citrine);
    border: 1px solid var(--white);
  }
  .duration,
  .rating {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--gainsboro);
    font-size: var(--fs-11);
    font-weight: var(--fw-500);
  }
  .duration {
    margin-left: auto;
  }
  .duration ion-icon,
  .rating ion-icon {
    font-size: 13px;
    --ionicon-stroke-width: 50px;
    color: var(--citrine);
  }
}
