.upcoming {
  background: url("../../images/upcoming-bg.png") no-repeat;
  background-size: cover;
  background-position: center;
  padding-block: var(--section-padding);
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  &-btn {
    color: var(--white);
    background: var(--raisin-black);
    font-size: var(--fs-11);
    font-weight: var(--fw-500);
    border: 2px solid var(--gunmetal-1);
    padding: 12px 26px;
    border-radius: 50px;
    cursor: pointer;
  }
}

@media (max-width: 1024px) {
  .upcoming {
    &-wrapper {
    }
  }
}
