:root {
  /**
   * colors
   */
  // --hsl-black: hsl(0deg 1% 15% / 5%);
  --rich-black-fogra-29: hsl(225, 25%, 9%);
  --rich-black-fogra-39: hsl(170, 21%, 5%);
  --raisin-black: hsl(228, 13%, 15%);
  --eerie-black: hsl(207, 19%, 11%);
  --light-gray: hsl(0, 3%, 80%);
  --gunmetal-1: hsl(229, 15%, 21%);
  --gunmetal-2: hsl(216, 22%, 18%);
  --gainsboro: hsl(0, 7%, 88%);
  --citrine: hsl(57, 97%, 45%);
  --xiketic: hsl(253, 21%, 13%);
  --gray-x: hsl(0, 0%, 74%);
  --white: hsl(0, 100%, 100%);
  --black: hsl(0, 0%, 0%);
  --jet: hsl(0, 0%, 20%);
  --box-shadow: 5px 30px 50px hsl(0deg 1% 15% / 5%);
  --shadow-top: 0 1px 3px hsl(0deg 0% 0% / 50%);

  /**
   * typography
   */

  --ff-poppins: "Poppins", sans-serif;

  --fs-1: 2.25rem;
  --fs-2: 2rem;
  --fs-3: 1.9rem;
  --fs-4: 1.5rem;
  --fs-5: 1.3rem;
  --fs-6: 1.1rem;
  --fs-7: 1rem;
  --fs-8: 0.938rem;
  --fs-9: 0.875rem;
  --fs-10: 0.813rem;
  --fs-11: 0.75rem;
  --fs-12: 0.688rem;

  --fw-500: 500;
  --fw-700: 700;

  /**
   * transition
   */

  --transition-1: 0.15s ease;
  --transition-2: 0.25s ease-in;

  /**
   * spacing
   */

  --section-padding: 100px;
}
